<div class="about__content">

    <app-secondary-title
      titleInput="Sobre"
      titleInputSpan="Mim">
    </app-secondary-title>

  <div class="about__container">
    <div class="about__img">
      <img src="../../../assets/images/forto-sobre.png" alt="">
    </div>
    <div class="about__description">
      <p>
        Desenvolvedor de Software, iniciando no desenvolvimento em 2021, me considero entusiasta em novas tecnologias e adquirindo conhecimento dia após dia.
        Meu foco de desenvolvimento e com JavaScript, TypeScript, .NET, Angular dentre outras tecnologias que uso no meu dia a dia.
        Sou ágil e consistente em aprender qualquer tecnologia e alta adaptabilidade às mudanças, pronto para encarar qualquer desafio!
        Se eu pudesse me definir em 3 palavras, certamente seriam: focado, perseverante e esforçado!
      </p>
    </div>
  </div>

  <div class="button__container">
    <app-main-button buttonContent="Confira meus projetos"
    [routerLink]="['projects']"
    ></app-main-button>
  </div>

</div>
