<div class="tech__content">

  <app-secondary-title
    titleInput="Minhas"
    titleInputSpan="Stacks">
  </app-secondary-title>

  <div class="tech-img__container">
    <img src="assets/images/icons8-html-5-144.png" alt="Icone HTML">
    <img src="assets/images/icons8-css3-144.png" alt="Icone CSS">
    <img src="assets/images/icons8-javascript-144.png" alt="Icone JavaScript">
    <img src="assets/images/icons8-angularjs-144.png" alt="Icone Angular">
    <img src="assets/images/icons8-typescript-144.png" alt="Icone TypeScript">
    <img width="144" src="assets/images/node.png" alt="Icone AWS">
  </div>
</div>
