<div class="tech__content">
  <div class="tech__title">
    <h2>Minhas <span>Stacks</span></h2>
  <div class="decor"></div>
  </div>
  <div class="tech-img__container">
    <img src="../../../assets/images/icons8-html-5-144.png" alt="Icone HTML">
    <img src="../../../assets/images/icons8-css3-144.png" alt="Icone CSS">
    <img src="../../../assets/images/icons8-javascript-144.png" alt="Icone JavaScript">
    <img src="../../../assets/images/icons8-angularjs-144.png" alt="Icone Angular">
    <img src="../../../assets/images/icons8-typescript-144.png" alt="Icone TypeScript">
    <img src="../../../assets/images/icons8-amazon-web-services-144.png" alt="Icone AWS">
  </div>
</div>
