 <div class="footer__container">
  <div class="footer__content">

    <div class="footer-menu">
      <ul>
        <li>
          <a href="http://wa.me/5562992533318" target="_blank">
            WhatsApp</a>
          </li>
        <li>
          <a href="https://www.linkedin.com/in/elisbertojunior" target="_blank">
            LinkedIn
          </a>
        </li>
        <li>
          <a href="https://github.com/ElisbertoJunior" target="_blank">
            GitHub
          </a>
        </li>
      </ul>
    </div>

    <h5>
      <mat-icon>copyright</mat-icon>
      Copyright 2022: Elisberto Junior
    </h5>

  </div>

 </div>
