<div class="curriculum-page__container">
  <app-secondary-title
      titleInput="Curriculo">
  </app-secondary-title>

  <div class="curriculum-card__container">
    <div class="curriculum-card__content">
      <div class="curriculum-card__header">
        <h1>Elisberto <span>Junior</span></h1>
        <p>Desenvolvedor Full-<span>Stack</span></p>
      </div>
      <hr>
      <div class="curriculum-contact__container">
        <div class="contact-informations">
          <div class="adress">
            <mat-icon>location_on</mat-icon>
            <p>Endereço: Rua 32-A, 04, Setor Aeroporto, Goiânia-GO 74075-480</p>
          </div>
          <div class="email">
            <mat-icon>email</mat-icon>
            <p>elisberto_jr@hotmail.com</p>
          </div>
          <div class="git-hub">
            <img src="assets/images/github-mark-white.png"
            height="23">
            <p>github.com/ElisbertoJunior</p>
          </div>
          <div class="linkedin">
            <img src="https://www.citypng.com/public/uploads/preview/linkedin-square-white-icon-transparent-png-11640440452zi2ykndpw2.png"
            height="23">
            <p>linkedin.com/in/ElisbertoJunior</p>
          </div>
        </div>

        <div class="perfil-container">
          <h3>PERFIL <span>PESSOAL</span></h3>
          <P>Desenvolvedor de Software, iniciando no desenvolvimento em 2021, me considero entusiasta em novas tecnologias e adquirindo conhecimento dia após dia. Meu foco de desenvolvimento e com JavaScript, TypeScript, Angular dentre outras tecnologias que uso no meu dia a dia. Sou ágil e consistente em aprender qualquer tecnologia e alta adaptabilidade às mudanças, pronto para encarar qualquer desafio! Se eu pudesse me definir em 3 palavras, certamente seriam: focado, perseverante e esforçado!</P>
        </div>

        <div class="skills">

          <div class="soft-skills">
            <h3>SOFT <span>SKILLS</span></h3>
            <ul>
              <li>Boa Comunicação</li>
              <li>Autodidata</li>
              <li>Raciocínio crítico</li>
              <li>Resiliência</li>
              <li>Adaptabilidade</li>
              <li>Capaz de trabalhar sob pressão
                e multitarefa</li>
            </ul>
        </div>

        <div class="hard-skills">
          <h3>HARD <span>SKILLS</span></h3>
          <ul>
            <li>HTML</li>
            <li>CSS</li>
            <li>JavaScript</li>
            <li>TypeScript</li>
            <li>Angular</li>
            <li>NodeJS</li>
          </ul>
        </div>

        <div class="academic-record">
          <h3>HISTÓRICO <span>ACADÊMICO</span></h3>

          <div class="academic-training">
            <h4>Faculdade Estácio</h4>
            <p>
              Gestão da Tecnologia da Informação | Jan. de 2021 - Em
              andamento
            </p>
          </div>
          <div class="academic-training">
            <h4>SENAI</h4>
            <p>
              Programador Full-Stack | no período de 18/10/2021 a 11/10/2022.
            </p>
            <p>Carga horária de 670 horas.</p>
          </div>
          <div class="academic-training">
            <h4>NTTDATA</h4>
            <p>
              Bootcamp Angular NTTDATA - Diversity   | no período de 11/10/2022 a 08/12/2022.
            </p>
            <p>Carga horária de 114 horas.</p>
          </div>
          <div class="academic-training">
            <h4>IDIOMAS</h4>
            <p>
              Inglês Técnico | Para programação
            </p>
            <p>Inglês geral basico | Atualmente estudadndo Inglês</p>
          </div>
        </div>

        <div class="experiences">
          <h3>EXPERIÊNCIA DE <span>TRABALHO</span></h3>

          <div class="experience-content">
            <div class="experience">
              <h4>Analista</h4>
              <p>
                NTT DATA | Jun. de 2022 - presente
              </p>
              <p>
                Responsável por análise melhorias em projetos de
                clientes
              </p>
            </div>

            <div class="experience-content">
              <div class="experience">
                <h4>Inspetor de perdas</h4>
                <p>
                  Bureau Veritas do Brasil | Jan. de 2020 - Mai. de 2022
                </p>
                <p>
                  Responsável por Inspecionar unidades consumidoras de
                  clientes, de modo a evitar irregularidades e parcas para
                  empresa.
                </p>
              </div>

              <div class="download-button">
                <a href="https://drive.google.com/file/d/1M8xDz9mzzMpAhN81Md6qRVOcrQFfg3lw/view?usp=sharing" target="_blank">
                  <app-main-button
                    buttonContent="Baixar CV"
                    >
                  </app-main-button>
                </a>
              </div>

          </div>

        </div>

        </div>

      </div>

    </div>

  </div>


</div>
