<div class="curriculum-page__container">
  <app-secondary-title
      titleInput="Curriculo">
  </app-secondary-title>

  <div class="curriculum-card__container">
    <div class="curriculum-card__content">
      <div class="curriculum-card__header">
        <h1>Elisberto <span>Junior</span></h1>
        <p>Desenvolvedor Front-<span>End</span></p>
      </div>
      <hr>
      <div class="curriculum-contact__container">
        <div class="contact-informations">
          <div class="adress">
            <mat-icon>location_on</mat-icon>
            <p>Endereço: Rua 32-A, 04, Setor Aeroporto, Goiânia-GO 74075-480</p>
          </div>
          <div class="email">
            <mat-icon>email</mat-icon>
            <p>elisberto_jr@hotmail.com</p>
          </div>
          <div class="git-hub">
            <img src="../../../assets/images/github-mark-white.png"
            height="23">
            <p>github.com/ElisbertoJunior</p>
          </div>
          <div class="linkedin">
            <img src="https://www.citypng.com/public/uploads/preview/linkedin-square-white-icon-transparent-png-11640440452zi2ykndpw2.png"
            height="23">
            <p>linkedin.com/in/ElisbertoJunior</p>
          </div>
        </div>

        <div class="perfil-container">
          <h3>PERFIL <span>PESSOAL</span></h3>
          <P>Desenvolvedor de Software, iniciando no desenvolvimento em 2021, me considero entusiasta em novas tecnologias e adquirindo conhecimento dia após dia. Meu foco de desenvolvimento e com JavaScript, TypeScript, Angular dentre outras tecnologias que uso no meu dia a dia. Sou ágil e consistente em aprender qualquer tecnologia e alta adaptabilidade às mudanças, pronto para encarar qualquer desafio! Se eu pudesse me definir em 3 palavras, certamente seriam: focado, perseverante e esforçado!</P>
        </div>

        <div class="skills">

          <div class="soft-skills">
            <h3>SOFT <span>SKILLS</span></h3>
            <ul>
              <li>Boa Comunicação</li>
              <li>Autodidata</li>
              <li>Raciocínio crítico</li>
              <li>Resiliência</li>
              <li>Adaptabilidade</li>
            </ul>
        </div>

        <div class="hard-skills">
          <h3>HARD <span>SKILLS</span></h3>
          <ul>
            <li>HTML</li>
            <li>CSSS</li>
            <li>JavaScript</li>
            <li>TypeScript</li>
            <li>Angular</li>
            <li>NodeJS</li>
          </ul>
        </div>

        </div>

      </div>

    </div>

  </div>


</div>
