<div class="curriculum-page__container">
  <app-secondary-title
      titleInput="Curriculo">
  </app-secondary-title>

  <div class="curriculum-card__container">
    <div class="curriculum-card__content">
      <div class="curriculum-card__header">
        <h1>Elisberto <span>Junior</span></h1>
        <p>Desenvolvedor Front-<span>End</span></p>
      </div>
      <hr>
      <div class="curriculum-contact__container">
        <div class="adress">
          <mat-icon>location_on</mat-icon>
          <p>Endereço: Rua 32-A, 04, Setor Aeroporto, Goiânia-GO 74075-480</p>
        </div>
      </div>

    </div>

  </div>


</div>
