.projects__container {
  max-width: 90rem;
  margin: 0 auto;
}

.project-cards__container {
  display: grid;
  gap: 3.125rem;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0.625rem 1.25rem;
}

@media screen and (max-width: 850px) {
  .project-cards__container {
    display: grid;
    gap: 3.125rem;
    grid-template-columns: 1fr 1fr;
    padding: 0.625rem 1.25rem;
  }
}

@media screen and (max-width: 670px) {
  .project-cards__container {
    display: grid;
    gap: 3.125rem;
    grid-template-columns: 1fr ;
    padding: 0.625rem 2.5rem 2.5rem 2.5rem;
  }
}
