<div class="projects__container">
  <app-secondary-title
    titleInput="Meus"
    titleInputSpan="Projetos">
  </app-secondary-title>

  <div class="project-cards__container">
    <app-project-card
      *ngFor="let project of projectsList"
      cardImg="{{ project.project_img }}"
      CardTitle="{{ project.title }}"
      cardDescription="{{ project.description }}"
      testLink="{{ project.test_project_link }}"
      repositoryLink="{{ project.repository_link }}"
    ></app-project-card>


  </div>

</div>


