 <div class="menu-bar">
  <div class="menu-bar__container">
    <div class="title__container">
      <h1>EJRDEV</h1>
    </div>


    <div class="list-menu__container">
      <ul>
        <li [routerLink]="['']"><a>Home</a></li>
        <li [routerLink]="['projects']"><a>Projetos</a></li>
        <li [routerLink]="['contact']"><a>Contato</a></li>
        <li [routerLink]="['curriculum']"><a>Curriculo</a></li>
        <li><a href="https://github.com/ElisbertoJunior" target="_blank">GitHub</a></li>
        <li><a href="https://www.linkedin.com/in/elisbertojunior/" target="_blank">LinkedIn</a></li>
      </ul>

    </div>

    <div class="menu-mobile__img">
      <button (click)="toggleClass()">
        <mat-icon>menu</mat-icon>
      </button>

    <div [ngClass]="myClass ? 'active' : 'disable'" class="menu-mobile__list">
      <ul>
        <li [routerLink]="['']" (click)="toggleClass()"><a>Home</a></li>
        <li [routerLink]="['projects']" (click)="toggleClass()"><a>Projetos</a></li>
        <li [routerLink]="['contact']" (click)="toggleClass()"><a>Contato</a></li>
        <li [routerLink]="['curriculum']" (click)="toggleClass()"><a>Curriculo</a></li>
        <li><a href="https://github.com/ElisbertoJunior" target="_blank">GitHub</a></li>
        <li><a href="https://www.linkedin.com/in/elisbertojunior/" target="_blank">LinkedIn</a></li>
      </ul>

    </div>

    </div>
   </div>


 </div>









