 <div class="menu-bar">
  <div class="menu-bar__container">
    <div class="title__container">
      <h1>EJRDEV</h1>
    </div>


    <div class="list-menu__container">
      <ul>
        <li [routerLink]="['']"><a>Home</a></li>
        <li [routerLink]="['projects']"><a>Projetos</a></li>
        <li><a>Contato</a></li>
        <li><a>Curriculo</a></li>
        <li><a>GitHub</a></li>
        <li><a>LinkedIn</a></li>
      </ul>

    </div>

    <div class="menu-mobile__img">
      <button>
        <mat-icon>menu</mat-icon>
      </button>
    </div>
   </div>


 </div>









