.card__container {
  background-color: rgb(12, 9, 48);
  width: 100%;
  padding: 1.25rem;
  border-radius: 0.313rem;
  -webkit-box-shadow: 0px 1px 10px 4px rgba(45,36,89,1);
  -moz-box-shadow: 0px 1px 10px 4px rgba(45,36,89,1);
  box-shadow: 0px 1px 10px 4px rgba(45,36,89,1);
  margin-bottom: 2.5rem;
  height: 31.25rem;
}

.card__container:hover {
  transition: 0.8s;
  transform: scale(1.10, 1.10);
  cursor: pointer;
}

.img-container > img {
  width: 100%;
  border-radius: 0.313rem
}

.card-description  {
  height: 6.25rem;
  color: rgb(97, 95, 95);
  margin: 0.625rem 0;
}

.card-buttons {
  margin: 2.5rem 0 1.25rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;

}

.card-buttons > button {
  padding: 0.9rem;
  color: #fff;
  font-weight: bold;
  border-radius: 0.5rem;
  cursor: pointer;

}

.card-buttons > button:active {
  position: relative;
  top: 1px;
}

.access-repository {
  background-color: #3d56df;
}

.access-repository:hover {
  background-color: #5063ce;
}

.test-project {
  background-color: #11b311;
}

.test-project:hover {
  background-color: #55aa55;
}

a {
  text-decoration: none;
  color: white;
}

@media screen and (max-width: 790px) {
  .card-description  {
    font-size: 15px;
    height: 2rem;
    color: rgb(97, 95, 95);
    margin: 0.625rem 0;
  }
}

@media screen and (max-width: 610px) {
  .card-description  {
    height: 6.25rem;
    color: rgb(97, 95, 95);
    margin: 0.625rem 0;
  }
}

