
<div class="card__container" *ngFor="let proj of projs">
  <div class="project-card__content" >
    <div class="img-container">
      <img src="{{ proj.project_img }}"
           alt="Imagem do projeto">
    </div>

    <h2 class="card-title">{{ proj.title }}</h2>
    <p class="card-description">{{ proj.description }}</p>

    <div class="card-buttons">
      <button class="test-project">
        <a href="{{ proj.test_project_link }}" target="_blank">
         Testar Porjeto
        </a>
      </button>

      <button class="access-repository">
        <a href="{{ proj.repository_link }}">
          Acessar Repositorio
        </a>
      </button>
    </div>

  </div>
</div>
