<div class="card__container">
  <div class="project-card__content" >
    <div class="img-container">
      <img src="{{ cardImg }}"
           alt="Imagem do projeto">
    </div>
    <h2 class="card-title">{{ CardTitle }}</h2>
    <p class="card-description">{{ cardDescription }}</p>

    <div class="card-buttons">
      <button class="test-project">
        <a href="{{ testLink }}" target="_blank">
         Testar Porjeto
        </a>
      </button>

      <button class="access-repository">
        <a href="{{ repositoryLink }}" target="_blank">
          Acessar Repositorio
        </a>
      </button>
    </div>

  </div>
</div>
