<div class="contact-page__container">
  <app-secondary-title
    titleInput="Entre em "
    titleInputSpan="Contato">
  </app-secondary-title>

  <div class="contact-card__container">
    <div class="contact-card__content">
      <div class="card__header">
        <img src="assets/images/perfil(2).png" alt="imagem de perfil">

        <h2>Entre em <span>contato</span> e saiba mais sobre meu  <span>trabalho</span>.</h2>
      </div>

      <hr>

      <div class="contact__buttons">
        <button class="button_wapp">
          <img src="assets/images/whatsapp-logo.png" alt="Logo do WhatsApp">
          <a href="http://wa.me/5562992533318" target="_blank">WhatsApp</a>
        </button>
        <button class="button_lk">
          <img src="assets/images/linkedin.png" alt="Logo do LinkedIn">
          <a href="https://www.linkedin.com/in/elisbertojunior" target="_blank">
            LinkedIn</a>
        </button>
        <button class="button_gh">
          <img src="assets/images/github.png" alt="Logo do GitHub">
          <a href="https://github.com/ElisbertoJunior" target="_blank">GitHub</a>
        </button>
      </div>

    </div>

  </div>


</div>
