/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: rgb(2, 3, 26);
  color: white;
}

span  {
  color: transparent;
  background: linear-gradient(#33A8DB, #1472B7);
  background-clip: text;
  -webkit-background-clip: text;
}

.decor {
  height: 0.5rem;
  width: 7rem;
  border-radius: 1px;
  background: linear-gradient(#33A8DB, #1472B7);
}


.decor:hover {
  transition: 500ms;
  width: 15rem;
}
